<html xmlns:th="http://www.thymeleaf.org">
<div class="layui-header" th:fragment="header">
    <div class="layui-logo">Ship Admin</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item"><a href="">控制台</a></li>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                <span th:text="${currUser}"></span>
            </a>
            <dl class="layui-nav-child">
                <dd><a href="">基本资料</a></dd>
                <dd><a href="">安全设置</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="/user/logout">退出</a></li>
    </ul>
</div>

<div class="layui-side layui-bg-black" th:fragment="side">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">服务管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/app/list">服务列表</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">路由规则管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/rule/list">路由协议</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>

<div class="layui-footer" th:fragment="footer">
    <!-- 底部固定区域 -->
    © 2020-2021 - ship
</div>
</html>