<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Ship Admin</title>
  <link rel="stylesheet" href="../static/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">Ship Admin</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="">控制台</a></li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          贤心
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="">退出</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">应用管理</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">应用列表</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">路由规则管理</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">路由协议</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->

    <div class="layui-card">
  <div class="layui-card-header">
</div>
  <div class="layui-card-body">
   
      <table class="layui-table">
      <colgroup>
        <col width="150">
        <col width="200">
        <col>
      </colgroup>
      <thead>
        <tr>
           <th>序号</th>
          <th>服务名称</th>
          <th>版本</th>
          <th>IP</th>
          <th>端口号</th>
          <th>权重</th>
          <th>创建时间</th>
          <th>操作</th>
        </tr> 
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>order</td>
          <td>gray_1.0</td>
          <td>127.0.0.1</td>
          <td>8080</td>
           <td>1</td>
            <td>2020-12-26 10:00:00</td>
            <td>
              <button type="button" class="layui-btn ayui-btn-xs">设置</button>
            </td>
        </tr>
        
        </tbody>
      </table>

  </div>
</div>


    
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © 2020-2021 - ship
  </div>
</div>
<script src="../static/layui/layui.js"></script>
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;
  
});
</script>
</body>
</html>
      

